<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="icon" href="{{ url_for('static', filename='luigi.png') }}" type="image/png"> -->
    <title>Procesador de Vehículos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="header">
            <h1>Procesador de Vehículos</h1>
            <p>Introduce el código del vehículo para cargar los artículos con PVP IVA = 0</p>
        </div>

        <div class="input-group">
            <input type="text" id="codigo" placeholder="Introduce el código del vehículo" />
            <button onclick="carregarItens()" id="btnCarregar">Cargar Artículos</button>
        </div>

        <div id="resultado"></div>

        <div id="itens-sem-oem-container">
            <h3>Artículos sin OEM - Edita la descripción antes de procesar</h3>
            <ul id="itens-sem-oem-list"></ul>
            <button class="btn-salvar-processar" onclick="processarItensEditados()">Guardar y Procesar</button>
        </div>

        <div class="results-container">
            <div class="results-box success-box" id="sucesso">
                <h3>Productos procesados correctamente</h3>
                <p>Aún no se ha realizado ningún procesamiento.</p>
            </div>

            <div class="results-box error-box" id="erro">
                <h3>Productos con error en el procesamiento</h3>
                <p>Aún no se ha realizado ningún procesamiento.</p>
            </div>
        </div>

        <div id="automacao-container">
            <button id="btnAutomacao" class="btn-automacao" onclick="iniciarAutomacao()">
                Iniciar Automatización de Clics
            </button>
        </div>

        <div id="log-container" style="display: none;">
            <div class="log-header">
                <h3 class="log-title">Registro de la Automatización</h3>
                <span id="log-status" class="log-status">En progreso</span>
            </div>
            <div id="log-automacao"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>